@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}

This is my opinion .

The movie is a one off good film which is different to the usual way of film making but the narration here is very clinical, seems like half the scenes are unnecessary to me.

If it was my script, first scene would be the hospital showing various aspects of a hospital and the compounder going "poongothai poongothai" and the girl suddenly opens her eyes which have been crying, the background music would be dark and the titles will roll , her going through the steps in the hospital is the titles montage and it ends on the doctor when it says directed by.

her spending time in hospital is atleast 10 mins scene with sister accompanying, doing the tests, nurses being mean and chaos in the hospital.

both intro scenes should be after (1 month earlier)

I like both Intro scenes

I dont like - parent teacher meet, slowmo, dumping cassets, what does mom like, 
shanmugam in hospital

Montage song for finding the girl seems unnecessary, could be more realistic shots of him trying to find and compounder helping.



